html {
    font-family: Roboto,sans-serif;
}
h1{
    color: darkcyan;
    margin-bottom: 0.25em;
}

h2{
    color: darkcyan;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}
h3{
    color: darkcyan;
    margin-top: 20px;
}

img{
    width: 200px;
    border-radius: 10px;
    float: right;
    margin-top: -130px;
    margin-right: 70px;
}
a{
    color: darkcyan;
}
.contacts{
    margin-bottom: 2em;
}
.contact{
    display:flex;	
	
}
.contact_type {
    min-width: 90px;
    margin-bottom: 20px;
}
.experience {
    display: flex;
    margin-bottom:2em ;
}
.experience_name {
    font-weight: bold;
}
.experience_date{
    min-width: 185px;
    margin-bottom: 1em;
}

button{
    font-size: 12pt;
    margin-bottom: 10px;
}
html{
    margin-left: 5px;
}
